
:root {
  --primary-color: #008ffe
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'Tourmaline Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Tourmaline-Bold'), url('Fonts\Tourmaline-Bold.woff') format('woff');
}

/*------Header ------*/
  .header {
    background-image: linear-gradient(45deg, #38036f, #1a0540);
    width: 100%;
    padding: 1.75rem 3.5rem;
  }

  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* .header img {
    width: auto;
  } */
  .menu {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid #d0c9c9;
    display: flex;
    flex-shrink: 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: #270354;
    background: #fff;
    transition: all 0.3s;
  }

  .menu:hover {
    box-shadow: 0 0 10px 0px rgb(0 0 0 / 50%);
    background: #270354;
    color: #fff;
  }

  .hidden-menu {
    display: none;
    position: absolute;
    right: 4.2rem;
    background-color: #fff;
    box-shadow: 0 0 2.5px 0px rgba(0, 0, 0, 0.25);
    z-index: 4;
    list-style: none;
    padding: 1rem 2rem;
    top: 6.25rem;
  }

  .hidden-menu a {
    text-decoration: none;
    color: #2b2b2b;
    line-height: 3.25rem;
    letter-spacing: .16rem;
    font-weight: 500;
    font-size: 16px;
  }

  .hidden-menu.show {
    display: flex;
    flex-direction: column;
    width: 15rem;
  }

  a .menu-item:hover {
    color: #0090ff;
  }

  /*------Banner ----------*/
  .banner-img {
    max-width: 100%;
    align-items: center;
    padding-top: 3.75rem;
    padding-bottom: 2rem;
  }

  img.about-img-area {
    width: 400px;
  }

  img.about-imgsec {
    margin-top: 90px;
    margin-bottom: 30px;
    width: 785px;
  }

  .imgsec {
    margin-top: 90px;
    margin-bottom: 30px;
    width: 720px;
  }

  @media (max-width: 767px) {
    .imgsec {
      width: 100%;
      padding-right: 30px;
      margin-bottom: 21px;
    }
  }

  .banner-img h2 {
    color: #fff;
    font-size: 4rem;
    line-height: 5.1rem;
    margin-bottom: 35px;
  }

  .banner-img h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
  }

  .banner-img h3 img {
    margin-left: 25px;
    position: relative;
    top: 5px;
    cursor: pointer;
  }
/* Header Ends */

/*---- About us sec------ */
  .custom-about-sec {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .custom-about-sec h2 {
    font-weight: 100;
    margin-bottom: 45px;
    color: #343434;
  }

  .custom-about-sec p {
    text-align: justify;
    line-height: 29px;
    color: #343434;
    padding-right: 57px;
  }

  .custom-about-sec .col-md-6.custom-logoabout {
    display: flex;
    align-items: center;
  }
/* About Ends */

/*----Digital ------*/
.digital-marketing {
  background: #fff2f2;
  padding-top: 70px;
  padding-bottom: 70px;
}

img.about-sec-p {
  width: 100%;
}

.col-md-6.custom-leftimg {
  padding-left: 100px;
}

.col-md-6.custom-right-sec {
  padding-left: 40px;
}

h3.digital-sec {
  background: url(assets/circlewithouttext.png);
  background-size: cover;
  background-position: center;
  width: 223px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 30px 53px;
}

.custom-options {
  margin-bottom: 90px;
  margin-top: 20px;
}

.option-content {
  width: 100%;
}

.container {
  max-width: 85%;
}

.col-md-6.custom-right-sec h4 {
  font-size: 16px;
  margin-bottom: 25px;
  color: #343434;
}

.col-md-6.custom-right-sec h4:before {
  content: '';
  width: 78px;
  height: 3px;
  background: #fd688a;
  display: inline-block;
  position: relative;
  top: -3px;
  margin-right: 6px;
}

a.case-study {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 30px;
  display: inline-block;
  color: #fd688a;
  font-weight: 500;
  font-size: 14px;
}

a.case-study:after {
  content: '';
  height: 1px;
  background: #fd688a;
  display: inline-block;
  position: relative;
  top: -3px;
  margin-left: 6px;
  width: 198px;
}

h3.digital-sec span {
  display: flex;
  font-size: 13px;
  letter-spacing: 1.2px;
  width: 200px;
  align-items: center;
  padding-left: 30px;
}

/*----- Footer css -----*/
.footer {
  padding: 4rem 6rem;
  padding-bottom: 10px;
  position: relative;
}

.footer h1 {
  font-size: 4.80rem;
  color: #1a053e;
  letter-spacing: 1.2px;
  font-weight: 700;
}

.footer h3 {
  font-size: 4rem;
  color: #1a053e;
  margin-bottom: 3rem;
  font-weight: normal;
}

.footer h3 span {
  border-bottom: 1px solid black;
  cursor: pointer;
  transition: 4s ease;
}

.footer span:hover {
  -webkit-animation: glow 5s ease-in-out infinite alternate;
  -moz-animation: glow 5s ease-in-out infinite alternate;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #380874, 0 0 20px #380874, 0 0 20px #380874, 0 0 20px #380874, 0 0 20px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #590464, 0 0 50px #9305b6, 0 0 60px #451580, 0 0 70px #5a2d91, 0 0 80px #ff4da6;
  }
}

.footer .links {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.one {
  width: calc(31% - 120px);
  margin-right: 120px;
}

.two {
  width: calc(31% - 120px);
  margin-right: 120px;
}

.footer .links div {
  border-top: 1px solid black;
  padding-top: 1rem;
  padding-bottom: 12px;
}

.footer .links div .icons {
  border-top: none;
  padding-top: 0px;
}

.footer .links div .icons i {
  margin-right: 1rem;
  color: #1d0541;
}

.footer .links div p {
  font-size: .8rem;
  color: grey;
}

.footer .copyright {
  position: absolute;
  right: 3rem;
  color: grey;
  font-size: .8rem;
  bottom: 8px;
  margin-bottom: 0;
}

/*---- responsive ----*/
@media(max-width:1400px) {
  .footer h1 {
    font-size: 4rem;
  }

  .one,
  .two {
    width: calc(31% - 70px);
    margin-right: 70px;
  }
}

@media(max-width:1200px) {
  .custom-about-sec p {
    padding-right: 20px;
  }

  .col-md-6.custom-leftimg {
    padding-left: 50px;
  }

  .footer h3 {
    font-size: 3rem;
  }

  .footer h1 {
    font-size: 3rem;
  }

  .banner-img h2 {
    font-size: 4rem;
    line-height: 4.1rem;
  }

  img.about-imgsec {
    width: 680px;
  }

  .col-md-6.custom-logoabout {
    padding-right: 53px;
  }

  img.about-img-area {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width:991px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 100% !important;
    padding-left: 4.5rem !important;
    padding-right: 4.5rem !important;
  }

  .custom-about-sec p {
    padding-right: 0px !important;
    font-size: 13px;
  }

  .col-md-6.custom-leftimg {
    padding-left: 0px;
  }

  .custom-about-sec h2 {
    font-size: 23px;
  }

  .col-md-6.custom-right-sec p {
    font-size: 13px;
  }

  .one,
  .two {
    width: calc(33% - 20px);
    margin-right: 20px;
  }
}

@media(max-width:767px) {
  header.header {
    align-items: center;
    padding: 1.75rem 12px;
  }

  .banner-img {
    padding: 1.75rem 12px;
  }

  img.about-imgsec {
    width: 77%;
    padding-right: 30px;
  }

  .banner-img h2 {
    font-size: 2rem;
    line-height: 2.3rem;
  }

  footer.footer {
    max-width: 90%;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    left: 0;
    /* max-width: 540px; */
    margin: 0 auto;
  }

  .custom-options {
    margin-bottom: 50px;
    margin-top: 0px;
  }

  .col-md-6.custom-leftimg {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    text-align: center;
  }

  img.about-sec-p {
    width: 90%;
    margin: 0 auto;
  }

  .footer h1,
  .footer h3 {
    font-size: 2.2rem;
  }

  .one,
  .two {
    width: 100%;
    margin-right: 0px;
  }

  .footer .links {
    flex-direction: column;
    width: 100%;
  }

  .footer .copyright {
    bottom: 0px;
    padding-left: 12px;
    position: relative;
    left: -10px;
  }

  .col-md-6.custom-right-sec {
    padding-left: 12px;
  }

  .custom-about-sec .col-md-6.custom-logoabout {
    margin-bottom: 37px;
  }

  .custom-about-sec h2 {
    margin-bottom: 15px;
    color: #343434;
  }

  .custom-about-sec {
    padding-bottom: 50px;
  }

  .footer .links {
    padding-bottom: 21px;
  }

  img.about-img-area {
    width: 70%;
    margin: 0 auto 20px;
  }

  .col-md-6.custom-logoabout {
    padding-right: 0px;
  }
}

@media(max-width:520px) {
  img.about-imgsec {
    width: 100%;
    padding-right: 30px;
  }

  .footer h1,
  .footer h3 {
    font-size: 2rem;
  }
}

/*-------Blog css --------*/
  .custom-inner {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
  }

  .blogCards {
    margin-bottom: 50px;
    width: 32%!important;
  }

  .portfolio-item {
    text-decoration: none;
  }

  .col-md-4:hover {
    -moz-box-shadow: 0 0 10px #8b8a8a;
    -webkit-box-shadow: 0 0 10px #8b8a8a;
    box-shadow: 0 0 10px #8b8a8a;
  }

  p.detail {
    color: #35026a;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 12px;
  }

  .custom-inner h2 {
    font-size: 18px;
    color: #232323;
  }

  .custom-blog {
    margin-top: 4rem;
    padding: 4rem;
    max-width: 100%;
    position: relative;
  }

  .links.footer-links {
    padding-top: 0px;
  }

  .custom-inner .col-md-4 {
    padding: 12px;
  }

  img.blog-imgsec {
    max-width: 90%;
    margin-top: 90px;
    margin-bottom: 30px;
  }

  img.img-sec {
    width: 100%;
    margin-bottom: 15px;
  }

  @media(max-width:767px) {
    .custom-inner .col-md-4 {
      padding-inline: 10px;
    }

    img.blog-imgsec {
      width: 100%;
      padding-right: 30px;
      margin-bottom: 21px;
    }

    .footer {
      position: inherit;
    }

    .custom-blog {
      max-width: 100%;
      position: inherit;
    }
    
    .blogCards{
      width: 100%;
  }
/* Blog Page */

/* Career.html */
  /* Middle Section */
  #mid_section {
    padding-block: 6.25rem;
  }

  #mid_section img {
    margin-left: 18rem;
    width: 75%;
    padding: 5px;
    border: 1px ridge #a2a2a2;
  }

  .opportunities {
    font-family: Poppins;
    z-index: 2;
    padding: 2rem 4rem;
    width: 25rem;
    text-align: left;
    position: absolute;
    right: 7.5em;
    background: white;
    display: inline-block;
  }

  .opportunities h2 {
    color: #35026a;
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
    padding-bottom: 0.8rem;
  }

  .opportunities p {
    font-weight: 500;
    line-height: 1.9;
    width: 18.15rem
  }

  @media (max-width:767px) {
    .topbar {
      padding: 0 0.75rem;
    }

    #mid_section {
      padding-block: 1rem;
    }

    #mid_section img {
      margin-left: 0;
      width: 100%;
    }

    .opportunities {
      padding: 2rem;
      position: static;
    }
  }

  /* Bottom Section */
  .card {
    background-color: white;
    border: 1px solid #bacdd8;
    border-radius: 12px;
    padding-left: 8px;
    padding-right: 8px;
    width: 30%;
    margin: 10px;
  }

  .card_lower_section {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  #cards_section {
    width: 80%;
    padding: 5px;
    margin: auto;
    display: flex;
    column-gap: 1em;
    flex-wrap: wrap;
    row-gap: 1em;
    position: relative;
    left: 1rem;
  }

  #bottom_section h5 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 3.5rem;
    margin: 0.5rem 0 0 0.5rem;
    color: #2e3333;
  }

  .card h4 {
    padding: 0 1rem 1rem;
    font-size: 1.25rem;
    font-weight: 600;
  }

  .card_lower_section {
    line-height: 3rem;
    border-top: 1px solid #bacdd8;
    margin-inline: 1rem;
  }

  .card_tag {
    font-weight: 600;
    font-size: 0.8rem;
    color: #2e3333;
  }

  .apply {
    text-decoration: none;
    color: #35026a;
  }

  .apply:hover+.card {
    display: block;
  }

  .card:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
  }

  .card_tag i {
    padding-left: 10px;
    -webkit-text-stroke: 1px background-color;
    font-weight: 300;
  }

  @media (max-width:767px) {
    #cards_section {
      width: 100%;
    }

    .card {
      width: 80%;
    }
  }
/* Career Page Ends */

/* Services Page */
  .victor {
    width: 27rem;
    position: absolute;
    right: 2rem;
    bottom: 1rem;
  }

  .success {
    width: 20rem;
    opacity: 1;
    position: relative;
    left: 9.5rem;
    bottom: 1.5rem;
  }

  .web {
    background-image: linear-gradient(45deg, #1a053f, #3a0171);
    display: flex;
    color: #fff;
    padding: 6rem 2rem;
    justify-content: space-between;
  }

  .web-text {
    margin-inline: 4rem 2rem;
  }

  .web-text p {
    padding-top: 2rem;
  }

  @media (max-width:767px) {
    .web {
      flex-direction: column;
      padding: 2rem 1rem;
    }

    .web-text {
      margin: 0;
      padding: 2.5rem 1rem;
      padding-right: 1.5rem;
    }
  }

  .circle {
    width: 20rem;
  }

  .team p {
    display: inline;
  }

  .team-meeting img {
    max-width: 100%;
  }

  .differ {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 2rem 8rem;
    grid-column-gap: 4rem;
    grid-row-gap: 2rem;
  }

  .custom span {
    color: #0000ff;
  }

  .adv-text {
    padding: 2rem 8rem;
    text-align: center;
  }

  .adv-text h1 {
    padding-inline: 9rem;
    font-size: 3rem;
    font-weight: 600;
  }

  .custom p {
    font-size: 1rem;
  }

  .custom h3 {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .stories {
    position: relative;
    margin: 0 auto;
    padding: 1rem 29rem;
  }

  .stories h3 {
    font-size: 1rem;
    margin: 0 auto;
  }

  .stories hr {
    width: 12rem;
    opacity: 1;
    position: relative;
    left: 11.8rem;
    bottom: 1.5rem;
  }

  @media (max-width:767px) {
    .adv-text {
      padding: 2rem 1rem 2rem 2rem;
      text-align: left;
    }

    .adv-text h1 {
      padding-inline: 0;
    }

    .differ {
      padding: 2rem;
      grid-template-columns: 1fr;
    }

    .stories {
      padding: 1rem;
    }

    .stories hr {
      width: 8rem;
    }
  }

  .boxes {
    padding-block: 4rem;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 2rem;
  }

  .it img {
    width: 40rem;
  }

  .Circle_text {
    position: relative;
    bottom: 12rem;
    left: 4rem;
  }

  .Circle_text h4 {
    font-weight: 600;
    font-size: 2rem;
  }

  .Circle_text span {
    font-size: 1.25rem;
    font-weight: 300;
  }

  .lower_text {
    position: relative;
    bottom: 3rem;
  }

  .lower_text hr {
    width: 5rem;
    opacity: 1;
    border: none;
    margin-right: 1rem;
    display: inline-block;
    position: relative;
    top: 0.75rem;
    border-bottom: 2.5px solid;
  }

  .case-study {
    padding-top: 2rem;
  }

  #pink {
    background-color: #fff0f3;
  }

  #blue {
    background-color: #dbf3ff;
  }

  #red {
    background-color: #ffe1e0;
  }

  #bluehr1,
  #bluehr2,
  #bluetext {
    color: #1b99d6;
  }

  #pinkhr1,
  #pinkhr2,
  #pinktext {
    color: #fd678a;
  }

  #redhr1,
  #redhr2,
  #redtext {
    color: #da251e;
  }

  #redhr2 {
    top: -1.75rem;
    opacity: 1;
  }

  #redtext {
    bottom: 3rem;
    position: relative;
  }

  .case-study hr {
    border: none;
    border-bottom: 1.5px solid;
    width: 10rem;
    position: relative;
    left: 9.75rem;
    top: -2.75rem;
  }

  @media (max-width:767px) {
    .boxes {
      padding: 0;
      grid-template-columns: auto;
      display: inherit;
    }

    .it img {
      max-width: 112%;
    }

    .elaborate img {
      display: none;
    }

    .Circle_text {
      position: static;
    }

    .elaborate {
      padding: 2rem 1rem;
    }

    .Circle_text br {
      display: none;
    }

    .lower_text {
      position: static;
    }
  }

  /* Technology Section */
  .wdev {
    font-family: 'Anton';
    font-size: 2.5rem;
    text-align: center;
    padding: 3rem 4rem;
  }

  .content-table {
    margin: 0 auto;
    padding: 2rem auto;
    border-collapse: collapse;
  }

  .content-table td,
  th {
    border: 1px solid grey;
    padding: 1.25rem 2rem;
  }

  .content-table p {
    display: inline;
    padding-inline: 2rem;
  }
/* Services Ends */

/*------ our_work-------------*/
  .custom-our-work {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  .banner-our-sec {
    background: url(assets/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  img.post-img {
    width: 100%;
    box-shadow: 0 0 28px 1px rgb(104 98 98 / 50%);
  }

  .custom-inner .col-md-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  h3.val:after {
    width: 6px;
    content: '';
    height: 6px;
    display: inline-block;
    position: absolute;
    background: #e9b10a;
    left: 35px;
    border-radius: 100%;
    top: 9px;
  }

  h3.val:before {
    content: '';
    width: 40px;
    height: 1px;
    background: #e9b10a;
    display: inline-block;
    bottom: 5px;
    position: relative;
    margin-right: 11px;
  }

  h3.val {
    margin-top: 40px;
    font-size: 18px;
    position: relative;
    color: #e9b10a;
  }

  .custom-inner h2.heading-reality {
    font-size: 38px;
    color: #232323;
  }

  p.tags span {
    color: #333;
    font-size: 12px;
    border: 1px solid #cbc7c7;
    padding: 4px 10px;
    border-radius: 1px;
    min-width: 103px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    margin-top: 20px;
  }

  .col-md-6.post2 h3.val {
    color: #fe668c;
  }

  .col-md-6.post2 h3.val:before,
  .col-md-6.post2 h3.val:after {
    background: #fe668c;
  }

  .col-md-6.post4 h3.val {
    color: #004aba;
  }

  .col-md-6.post4 h3.val:before,
  .col-md-6.post4 h3.val:after {
    background: #004aba;
  }

  .col-md-6.post1 {
    margin-bottom: 90px;
    position: relative;
    top: -43px;
  }

  .col-md-6.post2 {
    margin-top: 70px;
  }

  .col-md-6.post3 {
    position: relative;
    top: -90px;
  }

  .col-md-6.post4 {
    margin-top: 70px;
  }

  @media(max-width:900px) {
    .custom-inner h2.heading-reality {
      font-size: 33px;
    }

    p.tags span {
      color: #333;
      font-size: 11px;
      min-width: 96px;
    }
  }

  @media(max-width:767px) {
    .col-md-6.post1 {
      margin-bottom: 50px;
      position: relative;
      top: 0px;
      margin-top: 50px;
    }

    .col-md-6.post2 {
      margin-top: 0px;
      margin-bottom: 50px;
    }

    .col-md-6.post3 {
      position: relative;
      top: 0px;
      margin-bottom: 50px;
    }

    .col-md-6.post4 {
      margin-top: 0px;
    }
  }
/* Our Work Ends */
